{
  "plugins": [],
  "extends": [
    "next/core-web-vitals",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "env": {
    "es6": true
  },
  "rules": {
    "array-bracket-spacing": ["warn", "always"],
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "(useMyCustomHook|useMyOtherCustomHook)"
      }
    ],
    "@typescript-eslint/no-var-requires": 0,

    "import/no-anonymous-default-export": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-inferrable-types": [
      "error",
      {
        "ignoreParameters": true
      }
    ],
    "no-shadow": "error",
    "import/no-cycle": "error",
    "import/no-unresolved": ["error", { "ignore": ["react-query"] }],
    "import/no-unused-modules": ["off", { "unusedExports": true }],
    "no-redeclare": "off"
  }
}
