{
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": false,
	"semi": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"objectCurlySpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid"
}
