@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* CSS variables have to be defined in the global css file.
* define your variables here then use them anywhere in the project.
*/
:root {
  --avatar-height: 65vh;
  --avatar-width: calc(var(--avatar-height) / 1.5);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-[#14141b] text-white;
}

body::-webkit-scrollbar {
  width: 0.4em;
  background-color: rgb(91, 96, 108);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
