.container {
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: 25px 5fr 25px;
  grid-template-rows: 50px 20fr 5fr;
  grid-gap: 10px;
  height: 100vh;
}

.header {
  display: flex;
  grid-area: 1/1/1/4;
  justify-content: flex-end;
}

.content {
  margin-top: 50px;
  display: flex;
  grid-area: 2/1/4/4;
  flex-direction: column;
  align-items: center;
}